DEFAULT agilia
PROMPT 0 
TIMEOUT 50
#KBDMAP de.ktl

# Menu Configuration
# Either menu.c32 or vesamenu32.c32 must be copied to /boot/syslinux 
#UI menu.c32
UI vesamenu.c32

# Refer to http://syslinux.zytor.com/wiki/index.php/Doc/menu
MENU TITLE GNU AgiliaLinux
MENU BACKGROUND splash.png
#MENU COLOR border       30;44   #40ffffff #a0000000 std
#MENU COLOR title        1;36;44 #9033ccff #a0000000 std
#MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR title        1;36;44 #c0ffffff #00000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #30ffffff #00000000 std
#MENU COLOR screen       0;0     #00000000 #00000000 std
MENU COLOR border       0;0     #00000000 #00000000 none
MENU CLEAR

LABEL agilia
    MENU LABEL GNU AgiliaLinux
    LINUX ../vmlinuz
    APPEND root=/dev/sda2 ro
    INITRD ../initrd.gz

#LABEL AgiliaLinux fallback
#    MENU LABEL GNU AgiliaLinux Fallback
#    LINUX ../vmlinuz
#    APPEND root=/dev/sda2 ro
#    INITRD ../initrd.gz

#LABEL windows
#        MENU LABEL Windows
#        COM32 chain.c32
#        APPEND hd0 1

LABEL hdt
        MENU LABEL HDT (Hardware Detection Tool)
        COM32 hdt.c32

LABEL reboot
        MENU LABEL Reboot
        COM32 reboot.c32

LABEL poweroff
        MENU LABEL Poweroff
        COM32 poweroff.c32
